<template>
    <Transition name="fade">
        <div v-if="isModalVisible" class="fixed inset-0 w-full h-screen flex items-center justify-center bg-modal-700">
            <div class="max-h-screen w-full max-w-sm bg-white shadow-lg rounded-lg">
                <div class="overflow-auto p-5 block max-h-screen w-full">{{ confirmMessage }}</div>
                <div class="flex items-center justify-end border-t p-3">
                    <div class="text-red-500 font-semibold">
                        {{ modalTitle }}
                    </div>

                    <button @click="onConfirmClick" type="button" class="px-4 py-2 text-white hover:text-white bg-red-600 rounded hover:bg-red-700">
                        {{ confirmText }}
                    </button>

                    <button v-if="displayClose" @click="close" type="button" class="ml-3 px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                        {{ cancelText }}
                    </button>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
    export default {
        name: 'vh-confirm',
        props: {
            modalTitle: {
                type: String,
                default: ''
            },
            displayClose: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                isModalVisible: false,
                confirmMessage: '',
                confirmText: 'Yes',
                cancelText: 'No',
                callback: null
            };
        },
        methods: {
            close() {
                this.isModalVisible = false;
                this.$emit('close');
            },
            onConfirmClick() {
                this.isModalVisible = false
                if (typeof this.callback == 'function') {
                    this.callback(this);
                }
            },
            open(params) {
                this.isModalVisible = true;
                console.log(params);

                if (typeof params === 'object') {
                    this.confirmMessage = params.message;
                    this.callback = params.callback;
                } else {
                    this.confirmMessage = params;
                }
            }
        },
        mounted() {
            window.EventBus.$on('confirmOpen', this.open);
        }
    };
</script>
