<template>
  <div id="app">
      <div class="text-red-300 min-h">
           Implement Examples for Vue Harmony Components Here
      </div>

  </div>
</template>

<script>
export default {
  name: 'App',
  components: {

  }
}
</script>
